.hero__wrapper {
    background-image: url('../img/img1.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
}
.hero__wrapper::before {
    display: block;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--second-brand-color);
}
.hero {
    padding: 20rem 0;
    text-align: center;
}
.hero .title {
    color: var(--sub-text-color);
    text-shadow: 0rem 0rem 0.1rem rgb(0 0 0);
}



@media screen and (min-width: 1024px)  {
    .hero {
        padding: 35rem 0 25rem;
        text-align: left;
    }
    .hero .title {
        font-size: 10rem;
    }
    .hero .btn {
        margin-left: 0;
    }
}
